//- Mixins-ini
include mixins.pug
//- Mixins-end
head
  meta(charset="UTF-8")
  meta(name="viewport", content="width=device-width, initial-scale=1.0")
  meta(http-equiv="X-UA-Compatible", content="ie=edge")
  meta(name='designer', content='Fernando Javier Averanga Aruquipa / nandes.ingsistemas@gmail.com')
  meta(name='description', content='Transporte de carga nacional a La Paz, Cochabamba, Oruro, Tarija, Potosí, Sucre, Trinidad, Cobija, Riberalta, Guayaramerín y Puerto Suarez. Servicio de mudanzas, embalajes, almacenaje.')
  meta(property="og:title" content="TRANS MEN CARGO: Transporte de carga nacional, mudanzas, embalajes y almacenaje.")
  meta(property="og:description" content="Transporte de carga nacional a La Paz, Cochabamba, Oruro, Tarija, Potosí, Sucre, Trinidad, Cobija, Riberalta, Guayaramerín y Puerto Suarez. Servicio de mudanzas, embalajes, almacenaje.")  
  meta(name='author', content='')
  meta(name='keywords', content='')
  link(rel="stylesheet", href="styles.css") 
  title TRANS MEN CARGO: Transporte de carga nacional, mudanzas, embalajes y almacenaje
