mixin header(ruta)
  - var status1 = false
  - var status2 = false
  - var status3 = false
  - var status4 = false
  - var status5 = false
  - var status6 = false
  - var status7 = false
  case ruta
    when 'Inicio'
      - var status1 = true
    when 'Nosotros'
      - var status2 = true
    when 'Contactos'
      - var status3 = true
    when 'TRANSPORTE NACIONAL'
      - var status4 = true
    when 'MUDANZAS'
      - var status5 = true
    when 'EMBALAJE'
      - var status6 = true
    when 'ALMACENAJE'
      - var status7 = true
  header.header
    .header__container
      .header__logo
        a(href="./"): img(src="./images/logo.png", alt="Trans men cargo")
      .header__slogan
        //- h3 SERVICIO DE:
        h2 TRANSPORTE MUNDANZAS EMBALAJE ALMACENAJE
        h3 "SERVICIO DE PUERTA A PUERTA"
      .header__inicio
        ul.main-inicio
          li.main-inicio__item(class=status1 ? 'active' : ''): a.main-inicio__link(href="./") Inicio
          li.main-inicio__item(class=status2 ? 'active' : ''): a.main-inicio__link(href="./nosotros.html") Nosotros
          li.main-inicio__item(class=status3 ? 'active' : ''): a.main-inicio__link(href="./contactos.html") Contactos      
      .item.s-30.cross-center.main-center.toggle__menu
        #main-nav-toggle.main-end.button__toggle.button
          span MENÚ 
          .nav-toggle        
    nav.main-nav#main-nav
      ul.main-movil
        li.main-movil__item(class=status1 ? 'active' : ''): a.main-movil__link(href="./") Inicio
        li.main-movil__item(class=status2 ? 'active' : ''): a.main-movil__link(href="./nosotros.html") Nosotros
        li.main-movil__item(class=status3 ? 'active' : ''): a.main-movil__link(href="./contactos.html") Contactos
      ul.main-menu#main-menu
        li.main-menu__item(class=status4 ? 'main-menu__item_active' : ''): a.main-menu__link(href="./transporte-nacional.html") TRANSPORTE
        li.main-menu__item(class=status5 ? 'main-menu__item_active' : ''): a.main-menu__link(href="./mudanzas.html") MUDANZAS
        li.main-menu__item(class=status6 ? 'main-menu__item_active' : ''): a.main-menu__link(href="./embalaje.html") EMBALAJE
        li.main-menu__item(class=status7 ? 'main-menu__item_active' : ''): a.main-menu__link(href="./almacenaje.html") ALMACENAJE
