$cssCore: false;
$cssHelpers: true;
$devMode: false;
$container : container;
$item      : item;
@import '../ed-grid';
@font-face {
    font-family: 'Questa_Regular';
    src: url('./fonts/2-Questa_Regular-webfont.woff2') format('woff2'),
         url('./fonts/2-Questa_Regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
.header{
  background: #fff url(../images/header-background.jpg);
  box-shadow: inset 0px -9px 20px 0px #fff;
  @include to(m){
    border-bottom: solid 10px #00328f;
  }
}
.header__container{
  @include edContainer
}
.header__logo{
  @include edItem(70,40,30);
}
.header__slogan{
  @include edItem(0,40,60);
  @include mainCenter;
  @include crossCenter;
  font-family: 'Questa_Regular', cursive;
  text-align: center;
  text-shadow: 1px 2px 2px #fff;
  color: #424242;
  padding: 0 1%;
  @include hideTo(m);
  h2{font-size: 1.68rem;transform: scaleY(1.4);line-height: 1;
    @include to(l){
      font-size: 1.4rem;
    }
  }
  h3{margin: 0;font-size: 1.6rem;@include hideTo(l);}
}
.header__inicio{
  @include edItem(30,20,10);
  @include mainEnd;
  @include crossCenter;
  @include to(m) {
    display: none;
  }
}
.main-inicio{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  float: right;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}
.main-inicio__item{
  margin-bottom: 0;
  background: white;
  border-bottom: 1px solid rgba(#00328f, 2);
  text-align: center;
  @include button(#fff, #d0d0d0, radius)
}
.main-inicio__link{
  display: block;
  padding: 0 1.4rem;
  color: #00328f;
  &:hover {
    text-decoration: none;
  }
}
.main-movil{
  width: 30%;
  align-items: center;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
  @include edMenu(s);
  @include from(m){
    display: none;
  }
  @include to(m){
    display: flex;width: 100%;
  }
}
.main-movil__item{
  background: white;
  border-bottom: 1px solid rgba(#00328f, 2);
  &:hover{
    background: darken(#fff, 10);
  }
  @include from(m) {
    border-right: 1px solid rgba(#00328f, 2);
  }
}
.main-movil__link{
  color: #00328f;
}
.main-menu{
  @include edMenu(m);
}
.main-menu__item{
  background: #00328f;
  border-bottom: 1px solid rgba(#fff, 2);
  &:hover{
    background: darken(#00328f, 10);
  }
  @include from(m) {
    font-size: 0.9rem;
    border-right: 1px solid rgba(#fff, 2);
    transform: skew(30deg);
  }
  @include from(l){
    font-size: 1.1rem;
  }
}
.main-menu__item_active{
  background: darken(#00328f, 10);
}
.main-menu__link{
  color: #fff;
  @include from(m) {
    transform: skew(-30deg);
  }
}
.main-nav{
 @include edNav(left,m);
  @include to(m){
    position: absolute;
    width: 100%;
    left: -100%;
  }
  @include from(m){
    width: 95%;
    padding: 0 10px;
    margin: auto;
  }
}
.button__toggle{
  position: relative;
  width: 100px;
  height: 60px;
  border-radius: 5px;
  background: #fff;
  box-shadow: 0px 0px 3px 0px #00328f;
  @include crossCenter;
  span{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-44%);
  }
}
.toggle__menu{
  @include edItem(30);
  @include mainCenter;
  @include crossCenter;
  cursor: pointer;
  @include showTo(m);
}
.nav-toggle{
  @include navToggle(15px, #00328f); //tamaño y color
  @include showTo(m);
  position: absolute;
  left: 50%;
  top: 55%;
  transform: translateX(-40%);
  margin-bottom: .5rem;
}
.active{background: #ddd;}
//---------------------- END HEADER ----------------------------------
//---------------------- INI CONTENT ----------------------------------
.title__page{
  @include crossCenter;
  position: relative;
  margin: 0;
  text-align: center;
  font-size: 2rem;
  color: #00328f;
}
.content{
  @include edContainer;
  @include mainDistribute;
  @include crossCenter;
  padding: 10px 5px 0;

}
.content_pages{
  @include crossStart;
  border: solid 4px #001d7e;
  border-radius: 6px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
  background: #efefef;
}
.content__page{
  @include mainCenter
}
.content__page_cities {
  @include edItem(100,39,30);
  @include crossStart;
  background: rgba(#000, 0.58);
  border-radius: 15px;
  color: #fff;
  font-weight: 600;
  text-shadow: 1px 1px 1px black;
}
.content__page_img{
  @include edItem(100,59,68);
  @include crossCenter
}
.animation{
  position: relative;
}
.animation__wheel{
  position: absolute;

}
.gallery{
  @include edContainer;
  @include mainDistribute;
}
.gallery__item{
  @include edItem(99,49,33);
  @include mainCenter;
  @include crossCenter;
  margin-bottom: 10px;
}
.gallery__img{
  position: relative;
  &::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 99%;
    box-shadow: inset 1px 1px 20px 2px #00205c;
    border: 1.5px solid #002188;
  }
}
.iframe__map{
  width: 100%;
}
//---------------------- END CONTENT ----------------------------------
//---------------------- INI CONTACT ----------------------------------
input[type=number]::-webkit-outer-spin-button,input[type=number]::-webkit-inner-spin-button {-webkit-appearance: none;margin: 0;}
input[type=number] {-moz-appearance:textfield;}
//---------------------- END CONTACT ----------------------------------
//---------------------- INI FOOTER ----------------------------------
.footer{
  background: #00328f url(../images/footer-background.jpg);
  width: 100%;
  @include stickyFooter;
}
.footer__main{
  margin-top: 10px;
  @include edContainer;
  @include mainDistribute
}
.footer__content{
  margin-bottom: 5px;
  padding: 10px;
  background: hsla(0,0%,100%,.67);
  box-shadow: inset 1px 1px 5px 2px #002fa3;
  border: 3px solid #002fa3;
}
.footer__content_services{
  @include edItem(100,49,39);
  @include mainCenter;
}
.footer__content_adress{
  @include edItem(100,49,59);
  @include mainCenter;
}
.footer__title{
  width: 100%;
  margin-bottom: 5px;
  text-align: center;
  color: #00328f;
}
.footer__text{
  width: 95%;
  position: relative;
  color: #00328f;
  margin: 0;
}
.main-footer{
  margin: 0;
  padding-left: 0;
  list-style: none;
}
.main-footer__item{
  position: relative;
  padding-left: 20px;
  margin-bottom: 6px;
}
.main-footer__link{
  color: darken(#00328f, 5);
  position: relative;
  padding-left: 20px;
  &::before{
    content: ">>";
    position: absolute;
    left: 0;
    transform: scaleY(1.5) scaleX(0.5);
    color: darken(#00328f, 5);
  }
}
.social_icons {
    list-style: none;
    padding: 0;
    margin: 0;
    display: block;
    li {
      display: inline-block;
      margin-right: 5px;
      margin-top: 11px;
      margin-bottom: 10px;
    }
    a{
      text-decoration: none;
      @include mainCenter;
      @include crossCenter;
      i {
        border-radius: 50%;
        color: #fff;
        height: 40px;
        font-size: 20px;
        padding: 10px;
        text-align: center;
        width: 40px;
        opacity: .95;
      }
    }
    .icon-facebook {
        background: #2268d4;
        background: radial-gradient(#1286ff,#2268d4,#5cb4ff 110%);
    }
    .icon-twitter {
        background: #20b8ff;
        background: radial-gradient(#00a6ff,#1fb7ff,#fff);
    }
    .icon-google {
        background: #d34836;
        background: radial-gradient(#ff5151,#ff3e3e,#801a1a);
    }
}
.footer__main_fot{
  @include edContainer
}
.footer__copyright{
  @include crossCenter;
  @include mainCenter;
  p,.ah{
    color: white;
    text-shadow: 1px 1px 5px darken(#00328f, 10);
  }
}
.footer__copyright_a{
  @include edItem(100,100,50)
}
.footer__copyright_b{
  @include edItem(100,100,20)
}
.footer__copyright_c{
  @include edItem(100,100,30)
}
.ah{
  opacity: 0.5;
}
//---------------------- END FOOTER ----------------------------------
