<!DOCTYPE html>
html(lang="es" prefix="og: http://ogp.me/ns#")
  include blocks/head.pug
  body
    +header('ALMACENAJE')
    main
      .content.content_pages     
        .content__page.s-100.m-100.l-100  
          h2.title__page.s-100.main-center ALMACENAJE
        .content__page.s-100.m-100.l-100
          p Contando con la experiencia de <strong>Trans Men Cargo</strong> en el almacenaje de todo tipo de productos para sus clientes, la empresa sabe manejar perfectamente su carga, manipulandola siguiendo sus instrucciones en todo momento, facilitando los informes de gestión que pueda necesitar. 
          p Resolvemos sus necesidades de almacenaje, nosotros disponemos del espacio que a usted le falta para almacenar sus mercancías, guardamos, gestionamos y controlamos el stock de productos de su empresa. Nuestra experiencia garantiza la máxima calidad y el mínimo riesgo en el almacenamiento y manipulación de sus productos.
          p La seguridad es fundamental por ese motivo todos nuestros almacenes están situados en recintos cerrados y vigilados 24 horas al día, manteniendo las mercancías con total seguridad. Por todo esto ofrecemos soluciones integrales en almacenamiento, facilitando la logística de forma sobresaliente.              
        .gallery
          figure.gallery__item
            .gallery__img: img(src="images/almacenaje02.jpg", alt="Almacenaje / Trans Men Cargo")
          figure.gallery__item
            .gallery__img: img(src="images/almacenaje01.jpg", alt="Almacenaje / Trans Men Cargo")
          figure.gallery__item
            .gallery__img: img(src="images/almacenaje03.jpg", alt="Almacenaje / Trans Men Cargo")
    include blocks/footer.pug
