<!DOCTYPE html>
html(lang="es" prefix="og: http://ogp.me/ns#")
  include blocks/head.pug
  body
    +header('Contactos')
    main
      .content.content_pages
        #form.item.l-30.m-50.s-100
          .main-center 
            //- h2.title__page Escríbanos
            br   
            form.form(v-on:submit.prevent="submitForm")
              .item.s-100
                label.s-100.form__label(for="") Nombre completo: 
                input.s-100.form__input(v-model="vue.nombre" type="text" required)
              .item.s-100
                label.s-100.form__label(for="") Email: 
                input.s-100.form__input(v-model="vue.email" type="email" required)
              .item.s-100
                label.s-100.form__label(for="") Teléfono: 
                input.s-100.form__input(v-model="vue.telefono" type="number" required)
              .item.s-100
                label.s-100.form__label(for="") Celular: 
                input.s-100.form__input(v-model="vue.movil" type="number" required)
              .item.s-100
                label.s-100.form__label(for="") Dirección: 
                input.s-100.form__input(v-model="vue.direccion" type="text" required)
              .item.s-100
                label.s-100.form__label(for="") Ciudad: 
                input.s-100.form__input(v-model="vue.ciudad" type="text" required)
              .item.s-100
                label.s-100.form__label(for="") Mensaje: 
                textarea.s-100(v-model="vue.mensaje" name="", cols="30", rows="10" required) 
              .item.s-100.main-center
                button(type="submit") Enviar
                button(v-on:click="clearForm()") Limpiar
          .statusMessage(v-if="formSubmitted")
            h4 {{ vue.envio }}  
        .l-70.m-50.s-100
          h2.title__page Ubícación
          iframe.iframe__map(src="https://www.google.com/maps/d/embed?mid=1wL2UWiZnrrYxLwuVPRY2j09A8eM&hl=es" width="640" height="450")
    script(src="js/bundle.js")
    script(src="js/main-vue.js")
    include blocks/footer.pug