<!DOCTYPE html>
html(lang="es" prefix="og: http://ogp.me/ns#")
  include blocks/head.pug
  body
    +header('EMBALAJE')   
    main
      .content.content_pages     
        .content__page.s-100.m-100.l-100  
          h2.title__page.s-100.main-center EMBALAJE
        .content__page.s-100.m-100.l-100
          p En <strong>Trans Men Cargo</strong> ponemos a su disposición nuestro servicio de embalaje de muebles y objetos en nuestras mudanzas. Disponemos de materiales de embalaje específicos para cada objeto, de la mejor calidad y un equipo humano debidamente formado, lo que nos permite garantizar que sus muebles y enseres estarán protegidos en todo momento.
          p Para los trabajos de embalaje se disponen de equipos calificados para la empaquetación y embalaje de muebles, objetos, máquinas, electrodomésticos y cualquier otro tipo de enseres de hogar u oficina, y garantizar que lleguen en perfectas condiciones a su destino, independientemente de la distancia que tengan que recorrer.
          p Nuestro equipo de empaque y embalaje te ayuda en embalar tus enseres de la forma más eficiente para evitar pérdidas o deterioros indeseables.
        .gallery
          figure.gallery__item
            .gallery__img: img(src="images/embalaje01.jpg", alt="Embalaje / Trans Men Cargo")
          figure.gallery__item
            .gallery__img: img(src="images/embalaje02.jpg", alt="Embalaje / Trans Men Cargo")
          figure.gallery__item
            .gallery__img: img(src="images/embalaje03.jpg", alt="Embalaje / Trans Men Cargo")
    include blocks/footer.pug
