<!DOCTYPE html>
html(lang="es" prefix="og: http://ogp.me/ns#")
  include blocks/head.pug
  body
    +header('Inicio')
    main
      .content
        .content__page.content__page_cities
          .s-100.main-center
            h2(style="margin-bottom: 0;") Destinos:
          .s-50
            ul(style="padding-left: 20px;")
              li La Paz
              li Cochabamba
              li Oruro
              li Tarija
              li Potosí
              li Sucre
          .s-50
            ul(style="padding-left: 20px;")
              li Trinidad
              li Cobija
              li Riberalta
              li Guayanamerin
              li Puerto Suarez
        .content__page.content__page_img
          .animation
            img(src="images/trans-men-cargo.gif", alt="Trans Men Cargo")
             
    include blocks/footer.pug
