<!DOCTYPE html>
html(lang="es" prefix="og: http://ogp.me/ns#")
  include blocks/head.pug
  body
    +header('MUDANZAS')
    main  
      .content.content_pages     
        .content__page.s-100.m-100.l-100  
          h2.title__page.s-100.main-center MUDANZAS LOCAL Y NACIONAL
        .content__page.s-100.m-100.l-100
          p En <strong>Trans Men Cargo</strong> llevamos muchos años realizando mudanzas nacionales, hemos mantenido un constante desarrollo para mejorar las técnicas de  manipulación, embalaje y transporte, optimizando así, la calidad de nuestros servicios, para obtener un resultado óptimo en las mudanzas locales o nacionales que realizamos en cada punto del país.
          p En una mudanza es muy importante tener en cuenta el aspecto de sensibilidad que sobrelleva manipular muebles y enseres personales que han sido adquiridos a lo largo de los años por el cliente. Tenemos muy presente que cada traslado es diferente y realizamos una inspección técnica previa como paso imprescindible para ofrecer un tratamiento individualizado y especial en cada caso.
          p Con <strong>Trans Men Cargo</strong>, podrá comprobar que trasladar su hogar u oficina es más cómoda, rápida, sencilla y económica de lo que Usted se imaginaba.
        .gallery
          figure.gallery__item
            .gallery__img: img(src="images/mudanzas01.jpg", alt="Mudanzas / Trans Men Cargo")
          figure.gallery__item
            .gallery__img: img(src="images/mudanzas02.jpg", alt="Mudanzas / Trans Men Cargo")
          figure.gallery__item
            .gallery__img: img(src="images/mudanzas03.jpg", alt="Mudanzas / Trans Men Cargo")
    include blocks/footer.pug
