<!DOCTYPE html>
html(lang="es" prefix="og: http://ogp.me/ns#")
  include blocks/head.pug
  body
    +header('Nosotros')
    main
      .content.content_pages
        .content__page.s-100.m-100.l-70
          h2.title__page.s-100.main-center Nosotros
          p En Trans Men Cargo, somos una empresa especializada en operaciones logísticas de Transporte Terrestre de carga nacional, operamos y ofrecemos servicios en todo el país, siendo capaces de transportar su carga a cualquier punto con total seguridad y rapidez.
          p Compuesta por una moderna flota de vehículos de transporte propios, equipados con las últimas tecnologías de comunicación y localización que permiten un control total por parte de nuestro personal de la situación de cada camión y mercaderías en todo momento.
          p Llevamos más de 30 años formando parte de las más prestigiosas empresas de transporte nacional en Bolivia, contamos con un equipo humano formado por profesionales altamente calificados que constituyen uno de los pilares fundamentales de nuestra empresa. Además contamos con las últimas tecnologías capaces de organizar y coordinar todos nuestros servicios de la manera más eficiente, tanto en nuestros almacenes como durante su transporte.
        .content__page.s-100.m-100.l-30
          h2.title__page.s-100.main-center Video Presentación
          iframe( width="560", height="315", src="https://www.youtube.com/embed/LSuCApCFiXg?autoplay=1", frameborder="0", allowfullscreen)
    include blocks/footer.pug
