<!DOCTYPE html>
html(lang="es" prefix="og: http://ogp.me/ns#")
  include blocks/head.pug
  body
    +header('TRANSPORTE NACIONAL')
    main
      .content.content_pages     
        .content__page.s-100.m-100.l-100  
          h2.title__page.s-100.main-center TRANSPORTE LOCAL Y NACIONAL
        .content__page.s-100.m-100.l-100
          p En <strong>Trans Men Cargo</strong> somos conscientes de que el transporte no sólo consiste en llevar paquetes de un lugar a otro. Por ello, ofrecemos ventajas y valores añadidos al transporte convencional, en dar un trato personalizado a nuestros clientes, que cuentan con la tranquilidad de que para cualquier problema que surja siempre podrán contactar con nosotros para solucionarlo.
        .gallery
          figure.gallery__item
            .gallery__img: img(src="images/transporte-nacional1.jpg", alt="Trasporte Nacional")
          figure.gallery__item
            .gallery__img: img(src="images/transporte-nacional2.jpg", alt="Trasporte Nacional")
          figure.gallery__item
            .gallery__img: img(src="images/transporte-nacional3.jpg", alt="Trasporte Nacional")
    include blocks/footer.pug
