
<div class="row">
  <div class="col s12 m6 l12">
    <div class="form-group">
      <div class="input">
        <input class="col s12 form-control validate" id="nombre" type="text" name="nombre" placeholder="Nombre completo" required="required"/>
      </div>
    </div>
    <div class="form-group">
      <div class="input">
        <input class="col s12 form-control validate" id="movil" type="number" name="movil" placeholder="Ingrese su Celular" required="required"/>
      </div>
    </div>
    <div class="form-group">
      <div class="input">
        <input class="col s12 form-control validate" id="email" placeholder="Su correo electronico" type="email" name="email" required="required"/>
      </div>
    </div>
    <div class="form-group">
      <div class="input">
        <input class="col s12 form-control validate" id="empresa" type="text" name="empresa" placeholder="Su Empresa" required="required"/>
      </div>
    </div>
    <div class="form-group">
      <div class="input">
        <input class="col s12 form-control validate" id="telefono" type="number" name="telefono" placeholder="Telefono de la empresa" required="required"/>
      </div>
    </div>
    <div class="form-group">
      <div class="input">
        <input class="col s12 form-control validate" id="rubro" type="text" name="rubro" placeholder="Rubro de trabajo" required="required"/>
      </div>
    </div>
    <div class="form-group">
      <div class="input">
        <textarea class="materialize-textarea validate" id="servicios" style="margin-bottom: 3px;" cols="55" rows="7" name="servicios" placeholder="  Servicios y/o Productos" required="required"></textarea>
      </div>
    </div>
  </div>
  <div class="col s12 m6 l12"> 
    <div class="form-group">
      <div class="input">
        <input class="col s12 form-control validate" id="pais" type="text" name="pais" placeholder="Ingrese su Pais" required="required"/>
      </div>
    </div>
    <div class="form-group">
      <div class="input">
        <input class="col s12 form-control validate" id="ciudad" type="text" name="ciudad" placeholder="Ingrese su Ciudad" required="required"/>
      </div>
    </div>
    <div class="form-group">
      <div class="input">
        <input class="col s12 form-control validate" id="direccion" type="text" name="direccion" placeholder="Ingrese su Dirección" required="required"/>
      </div>
    </div>
    <div class="form-group">
      <div class="input">
        <textarea class="materialize-textarea validate" id="comentarios" style="margin-bottom: 3px;" cols="55" rows="7" name="comentarios" placeholder="  Comentarios"></textarea>
      </div>
    </div>
    <div class="form-group">
      <div class="g-recaptcha col s12" data-sitekey="6LckYCQUAAAAAGXgYn-q9_0B4WYmOWJc9iSt8fCs"></div>
    </div>
    <div class="col s12 form-group center-align">
      <input class="submitbtn" type="submit" value="Enviar"/>
      <input class="deletebtn" type="reset" value="Borrar"/>
    </div>
    <div class="col s12">
      <div id="statusMessage" style="color: white;background: #2e8874; border-left: 7px solid #4e4e4e;"></div>
    </div>
  </div>
</div>