
<header class="header">
  <div class="container">
    <div class="item s-70 m-40 l-30"><img src="./images/logo.png" alt="Trans men cargo"/></div>
    <div class="item item s-30 m-60 l-70 main-end cross-center menu">
      <ul class="main-inicio">
        <li class="button"><a href="./">Inicio</a></li>
        <li class="button"><a href="#">Nosotros</a></li>
        <li class="button"><a href="./contactos.html">Contactos      </a></li>
      </ul>
    </div>
    <div class="item s-30 cross-center main-center toggle-menu">
      <div class="main-end" id="main-nav-toggle">MENÚ <div class="nav-toggle"></div>        </div>
    </div>
  </div>
  <nav class="main-nav" id="main-nav">
    <ul class="main-inicio-movil">
      <li><a href="./">Inicio</a></li>
      <li><a href="#">Nosotros</a></li>
      <li><a href="./contactos.html">Contactos</a></li>
    </ul>
    <ul class="main-menu" id="main-menu">
      <li><a href="#">TRANSPORTE NACIONAL</a></li>
      <li><a href="#">MUDANZAS</a></li>
      <li><a href="#">EMBALAJE</a></li>
      <li><a href="#">ALMACENAJE</a></li>
    </ul>
  </nav>
</header>